/* 访视组样式 */
.visit-group-even {
    @apply bg-blue-50;
}

.visit-group-odd {
    @apply bg-orange-50;
}

.visit-group-even:hover {
    @apply bg-blue-100;
}

.visit-group-odd:hover {
    @apply bg-orange-100;
}