body {
    background-color: #f8f9fa;
    padding-top: 66px;
}
.container {
    max-width: 1000px;
    margin-top: 30px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0.2rem 0;
    min-height: 40px;
}
[v-cloak] {
    display: none;
}